@media screen and (max-width: 470px){
    .container{
        min-height: 100%;
        background: #BADA55;
        width: 100%;
        height: auto;
        // position: fixed;
        margin: 0;
        }
    }
    
    @media screen and (max-width: 470px){
        .navbar{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 40px !important;
        }
    }
    @media screen and (max-width: 470px){
        .navbar-menu >*{
           display: none;
        }
    }
    @media screen and (max-width: 470px){
        .navbar-menu-1{
            display: none !important;
        }
    }
    @media screen and (max-width: 470px){
        .navbar-menu{
            display: flex;
            align-items: center;
        }
    }
    @media screen and (max-width: 470px){
        .mobile-menu{
            display: inline-block;
            position: fixed;
            // width:100%;
            // height: 64px;
            // background: grey;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    @media screen and (max-width: 470px){
        .mobile-icon{
            background-image: url('../images/menu.png');
            width: 32px;
            height: 32px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            cursor: pointer;
        }  
    }
    @media screen and (max-width: 470px){
    .mobile-links-container {
            width:95%;
            height: 120px;
            background: black;
            position: fixed;
            margin-top: 78px;
            display: none;
        }  
        .mobile-links{
            color: #24ba9f;
            text-decoration: none;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
            &>*{
                padding: 1.5px;
            }
        }
    }

@media screen and(max-width: 470px){
    .slider{
        .slider-box{
            width:100%;
            height: 545px;
            background: rgba(255,255,255,1);
            background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 46%, rgba(237,237,237,1) 77%, rgba(237,237,237,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(46%, rgba(246,246,246,1)), color-stop(77%, rgba(237,237,237,1)), color-stop(100%, rgba(237,237,237,1)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 46%, rgba(237,237,237,1) 77%, rgba(237,237,237,1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 46%, rgba(237,237,237,1) 77%, rgba(237,237,237,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 46%, rgba(237,237,237,1) 77%, rgba(237,237,237,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 46%, rgba(237,237,237,1) 77%, rgba(237,237,237,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
            display: flex;
            flex-direction: row;
            align-items: center;
            .slider-box-image{
              display:none;
            }
            .slider-box-image:before{
                display: none;
            }
            .slider-box-text{
                flex:1;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 0px !important;
                & > h2 {
                    font-size: 30px !important;
                    &>*{
                        padding: 5px !important;
                    }
                }                
                & > p {
                    padding: 20px;
                    text-align: center;
                }
                .color-text-on{
                    color: #24ba9f;
                    font-weight: bold;
                }
                #see-more-button{
                    visibility:hidden;
                }
                .see-more-label{
                    width: 250px;
                    height:50px;
                    background: #24ba9f;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &>*{
                        font-size: 26px;
                        font-weight: bold;
                        color: white;
                    }
                }

            }
            .slider-box-text:after{
              display: none;
            }
        }
    }
}
// @media screen and (max-width: 780px){
//     .products-container{
//         flex-direction: column !important;
//         align-items: center;
//     }
// }